body {
  margin: 0px;
  background-color: red;
}

.resume-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: repeat(2, 1fr) 30% 1fr;
}

.img {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: green;
}

.contact {
  display:grid;
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: pink;
}

.ref {
  display: grid;
  grid-column: 1/2;
  grid-row: 4/5;
  background-color: turquoise;
}

.title {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: chocolate;
}

.personal {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: khaki;
}

.history {
  display: grid;
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: mediumorchid;
}

.academia {
  display: grid;
  grid-column: 2/3;
  grid-row: 4/5;
  background-color: palegreen;
}