body {
  margin: 0%;
  background: #e65c00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-container {
  display: grid;
  grid-template-areas: 
  'img name contact'
  'img history about'
  'work-ref details school';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  margin: 0%;
}

.item1 {
  grid-area: img;
  }

  .item1>img {
    width: 100%;
    height: 100%;
  }

.item2 {
  grid-area: contact;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.item2>section {
  display: flex;
  flex-direction: column;
}

.item3 {
  grid-area: work-ref;
}

.item4 {
  grid-area: name;
}

.item5 {
  grid-area: about;
}

.item6 {
  grid-area: history;
}

.item7 {
  grid-area: details;
}

.item8 {
  grid-area: school;
}

@media (max-width: 576px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'img name'
    'contact about'
    'history work-ref'
    'details school';
  }
}